body{
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#star{
    background-color: hsl(216, 12%, 24%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-box{
    width: 350px;
    background-image: linear-gradient(hsl(213, 19%, 18%), hsl(213, 20%, 12%));
    border-radius: 28px;
    padding: 25px 30px;
}

/* --- */

#swappable-box-rating h2{
    color: hsl(0, 0%, 100%);
    margin: 25px 0px 8px 0px;
}

#swappable-box-rating p{
    color: hsl(217, 12%, 63%);
    text-align: justify;
    line-height: 25px;
}

#swappable-box-rating button{
    width: 100%;
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
    border: none;
    border-radius: 40px;
    padding: 13px;
}

#swappable-box-rating button:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

#swappable-box-rating-options{
    display: flex;
    margin: 30px 0;
    justify-content: space-between;
    overflow: hidden;
    flex-direction: row-reverse;
}

#swappable-box-rating-options > input {
    display: none;
}

#swappable-box-rating-options > label {
    background-color: hsl(216, 12%, 24%);
    color: hsl(0, 0%, 100%);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

#swappable-box-rating-options > input:not(:checked) ~ label:hover{
    background-color: hsl(25, 97%, 53%);
}

#swappable-box-rating-options > input:checked + label{
    background-color: hsl(25, 97%, 53%);
}

/* --- */

#swappable-box-thanx{
    display: none;
}

#swappable-box-thanx > *{
    text-align: center;
}

#swappable-box-thanx > object{
    margin: 0 auto;
}

#swappable-box-thanx h2{
    color: hsl(0, 0%, 100%);
}

#swappable-box-thanx p{
    color: hsl(217, 12%, 63%);
    line-height: 25px;
}

#user-rate{
    color: hsl(25, 97%, 53%);
    background-color: hsl(216, 12%, 24%);
    padding: 5px 15px;
    border-radius: 30px;
    display: table;
    margin: 22px auto;
}

@media (max-width: 446px) {
#main-box{
  margin: 0px 20px;
}
}